<!DOCTYPE html>
<html lang="zh-Hans">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>表单</title>
</head>
<body>
  <div id="app">
    <!-- VUE提供了v-­model 指令， 用于在表单类元素上双向绑定事件 -->
    <h2>input 和 textarea</h2>
    <h3>input</h3>
    <input type="text" v-model="textMsg"> <br> 
    输入了------{{textMsg}}
    <h3>textarea</h3>
    <!-- Vue 会忽略 textarea 中的默认值 -->
    <textarea cols="30" rows="3" v-model="textareaMsg">dsdadsasdas</textarea> <br>
    输入了------{{textareaMsg}}

    <h2>单选按钮</h2>
    <h3>单个单选按钮，只能用 v-bind</h3>
    <h4>用 v-bind</h4>
    <label for="dogg1">狗蛋</label>
    <input type="radio" id="dogg1" value="狗蛋" :checked="singleRadio">

    <h4>用 v-model</h4>
    <h5>这里 singleRadio 的值为 true，却没有被选中。但是选中这个单选按钮，singleRadio 的值会改变</h5>
    <label for="dogg2">狗蛋</label>
    <input type="radio" id="dogg2" value="狗蛋" v-model="singleRadio">
    singleRadio 的值是 ------- {{singleRadio}}


    <h2>单个多选按钮 用 v-bind 或者 v-model 都可</h2>
    <h3>v-bind</h3>
    <label for="dogg3">狗蛋</label>
    <input type="checkbox" id="dogg3" value="狗蛋" :checked="singleCheckbox">
    <h3>v-model</h3>
    <label for="dogg4">狗蛋</label>
    <input type="checkbox" id="dogg4" value="狗蛋" v-model="singleCheckbox">
    singleCheckbox 的值是 ------ {{singleCheckbox}}
  </div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      textMsg: '',
      textareaMsg: '',
      singleRadio: true,
      singleCheckbox: true,
    }
  })
</script>
</body>
</html>